@font-face {
  font-family: Montserrat;
  src: url("../fonts/montserratlight.ttf");
}

.page{
  width: 100%;
  background: url("headerBg.png") no-repeat;
  background-size: cover;
}

.upHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.8%;
}

.miniLogo{
  height: 52px;
  width: 132px;
  margin-left: 1.8%;
}

.logo{
  width: 298px;
  height: 133px;
}

.menu{
  display: flex;
  flex-direction: row;
  margin-top: 1%;
  margin-right: 7%;
}

.menuItem{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 1.3em;
  line-height: 20px;
  color: white;
  margin-right: 40px;
}

.tagline{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
}

.moto{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 3em;
  line-height: 48px;
  color: white;
}

.workingHours{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 100;
  font-size: 1.3em;
  line-height: 20px;
  margin-top: 3%;
  margin-bottom: 3%;
}

.string{
  margin-top: 20px;
}

a{
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 1200px){
  .miniLogo{
    display: none;
  }
  .tagline{
    margin-top: 3%;
  }
  .logo{
    width: 72px;
    height: 29px;
  }

  .moto{
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
  }

  .workingHours{
    font-weight: 600;
    font-size: 8px;
    line-height: 8px;
    margin-top: 3%;
  }

  .menuItem{
    font-weight: 500;
    font-size: 8px;
    line-height: 8px;
    margin-right: 10px;
  }
  .upHeader{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .string{
    margin-top: 1%;
  }
}