@font-face {
  font-family: Montserrat;
  src: url("../fonts/montserrat.ttf");
}

.page{
  width: 100%;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  background: url("reservation.png") no-repeat;
  background-size: cover;
}
.reservationPhoto{
  height: 440px;
}

.form{
  background-color: white;
  width: 390px;
  height: 90%;
  margin-left: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservationLogo{
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 5%;
  width: 284px;
}

.input{
  width: 300px;
  height: 3%;
  margin-left: 4%;
  margin-bottom: 2%;
  padding-left: 1%;
}

.button{
  width: 315px;
  height: 50px;
  margin-left: 4%;
  background-color: black;
  color: white;
  margin-bottom: 4%;
}

@media screen and (max-width: 1200px){
  .reservationPhoto{
    display: none;
  }
  .form{
    margin: 3% 0%;
    width: 50%;
  }
  .input{
    width: 80%;
    height: 10%;
  }
  .button{
    width: 80%;
    height: 10%;
  }
  .reservationLogo{
    width: 90%;
    height: 10%;
  }
}