@font-face {
  font-family: Montserrat;
  src: url("../fonts/montserratlight.ttf");
}

.page{
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  background: url("contactBg.png") no-repeat;
  background-size: cover;
}

.info{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8%;
}

.infoItem{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  margin-right: 50px;
}

.copyright{
  margin-top: 2%;
  margin-bottom: 2%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

.links{
  margin-top: 3%;
}

.sites{
  margin-right: 30px;
}

@media screen and (max-width: 1024px) {
  .page{
    align-items: normal;
    justify-content: normal;
  }
  .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 5%;
  }
  .infoItem{
    font-weight: 300;
    font-size: 10px;
    line-height: 10px;
    font-style: normal;
    margin-bottom: 3%;
  }
  .copyright{
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 10px;
  }
  .sites{
    width: 20px;
    height: 20px;
    margin-left: -20px;
  }
}
