@font-face {
  font-family: Montserrat;
  src: url("../fonts/montserratlight.ttf");
}

.page{
  width: 100%;
  background: url("menuTop.png") no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuLogo{
  width: 165px;
  height: 72px;
  margin-top: 2%;
}

.menuItems{
  margin-top: 1%;
  margin-bottom: 3%;
}

@media screen and (max-width: 1200px) {
  .menuLogo{
    width: 81px;
    height: 30px;
    margin-bottom: 2%;
  }
  .menuItems {
    width: 90%;
    height: 50%;
  }
}