.background{
  background-color: white;
  display: flex;
  margin: 1%;
  margin-bottom: 5%;
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/montserrat.ttf");
}

.info{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 20px;
  width: 229px;
}

.name{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 15px;
}

.description{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 15px;
}

.price{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
}

.image{
  width: 320px;
  height: 244px;
}

@media screen and (max-width: 1300px){
  .image{
    width: 159px;
    height: 121px;
  }
  .name{
    font-size: 8px;
    line-height: 8px;
  }
  .description{
    font-size: 7px;
    line-height: 10px;
  }
  .price{
    font-size: 7px;
    line-height: 7px;
  }
  .info{
    width: 106px;
  }
}
@media screen and (max-width: 500px){
  .image{
    width: 100px;
    height: 80px;
  }
  .description{
    font-size: 5px;
    line-height: 5px;
  }
  .page{
    margin-bottom: 20%;
  }
}