.page{
  background-color: white;
}

.nextArrow{
  width: 2% !important;
  height: 8% !important;
}

.prevArrow{
  width: 2% !important;
  height: 8% !important;
  margin-left: -2%;
}

@media screen and (max-width: 300px){
  .prevArrow{
    margin-left: 8%;
  }
}
@media screen and (max-width: 600px){
  .prevArrow{
    margin-left: 1%;
  }

}
