@font-face {
  font-family: Montserrat;
  src: url("../fonts/montserrat.ttf");
}

.page{
  height: 560px;
  width: 100%;
  background-size: 100%;
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
  justify-content: center;
}

.blockAbout{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.aboutText{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 1.5em;
  text-align: center;
  color: #000000;
  width: 560px;
  height: 190px;
  margin-top: 30px;
}

.aboutLogo{
  width: 281px;
  height: 70px;
}

.aboutImg{
  margin-left: 50px;
}

@media screen and (max-width: 1200px){
  .page {
    flex-direction: column;
    height: 367px;
  }
  .aboutLogo{
    width: 120px;
    height: 32px;
  }
  .aboutText{
    width: 262px;
    height: 110px;
    font-size: 8px;
    line-height: 12px;
    font-family: Montserrat;
    font-style: normal;
    margin-top: 5%;
  }

  .aboutImg{
    width: 216px;
    height: 153px;
    margin-left: 0px;
    margin-bottom: 1.5%;
  }
}