.background{
  background-color: white;
  display: flex;
  margin: 1%;
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/montserrat.ttf");
}

.image{
  width: 300px;
  height: 300px;
}

@media screen and (max-width: 1600px){
  .image{
    width: 250px;
    height: 250px;
  }
}
@media screen and (max-width: 1300px){
  .image{
    width: 220px;
    height: 220px;
  }
}
@media screen and (max-width: 1000px){
  .image{
    padding-left: 30%;
  }
}
@media screen and (max-width: 600px){
  .image{
    padding-left: 20%;
    width: 150px;
    height: 150px;
  }
}
