.slick-dots li button {
    content: '';
    color: white;
    opacity: 0;
}

.slick-dots ul li {
    position: inherit;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    color: white;
}

li.slick-active {
    background-color: black;
}


